# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
build/
dist/
public/build/
**/build/
**/dist/

# Logs
logs/
*.log
*.log.*

# System files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS generated
*.tmp
*.temp
